.weatherForecast{
    text-align: center;
}
.weatherForecast-temperature-min{
    opacity: 0.6;
    margin-left: 5px;
}
.weatherForecast-icon img{
    width: 42px;
}
.weatherForecast-temperatures{
    font-size: 12px;
}
@media(max-width:320px){
    .weatherForecast-temperature-min {
            margin: 0 auto;
        }
}
